# =========================
# SPRING BOOT APP
# =========================
SPRING_PROFILES_ACTIVE=dev

# =========================
# Localstack
# =========================
LOCALSTACK_LOGIN=test
LOCALSTACK_PASSWORD=test

# =========================
# DATABASE (MongoDB)
# =========================
MONGO_ROOT_USERNAME=devroot
MONGO_ROOT_PASSWORD=devroot

# =========================
# Mongo Express (UI)
# =========================
MONGOEXPRESS_LOGIN=dev
MONGOEXPRESS_PASSWORD=dev

# =========================
# RABBITMQ
# =========================
RABBITMQ_HOST=rabbitmq
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# =========================
# KAFKA
# =========================
CLUSTER_ID=EmptNWtoR4GGWx-BH6nGLQ

KAFKA_REPLICATION_FACTOR=3
KAFKA_TOPIC_PARTITIONS=3
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka1:9093,2@kafka2:9093,3@kafka3:9093

KAFKA1_NAME=kafka1
KAFKA2_NAME=kafka2
KAFKA3_NAME=kafka3

# Bootstrap for clients (Spring, Kafka UI)
KAFKA_BOOTSTRAP_SERVERS=kafka1:9092,kafka2:9092,kafka3:9092

# =========================
# KAFKA UI
# =========================
KAFKA_UI_CLUSTER_NAME=local

# =========================
# Mail Service
# =========================
MAIL_USER=
MAIL_PASSWORD=
